<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"> <!-- 文字エンコーディング指定 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- レスポンシブ対応 -->
    <title>SF6 Records</title> <!-- ページタイトル -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png"> <!-- iOSアイコン -->
    <link rel="icon" href="/static/favicon.ico"> <!-- favicon -->

    <script async src="https://ga.jspm.io/npm:es-module-shims@2.6.2/dist/es-module-shims.js"></script>
    <!-- ESモジュールシム読み込み -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.css" />
    <!-- Bootstrap CSS読み込み -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.css" />
    <!-- BootstrapアイコンCSS読み込み -->
</head>

<body class="vh-100 d-flex flex-column">
    <main id="main" class="container my-3 flex-fill">
        <!-- タイトル -->
        <h1 style="text-align:center; font-size:clamp(24px, 6vw, 40px); font-weight:bold; margin:20px;">
            <a href="/" class="text-decoration-none text-dark">
                SF6 Records
            </a>
        </h1>

        <!-- プレイヤーリンク表示 -->
        <h1 class="text-center mb-4">
            <a id="player_link" target="_blank"></a>
        </h1>

        <!-- Act選択 -->
        <div class="col-md-3 mb-3 mx-auto">
            <div class="form-floating">
                <select class="form-select" name="act_select" id="act_select">
                    <!-- 動的に追加される -->
                </select>
                <label for="home_character_id">Act</label>
            </div>
        </div>


        <turbo-frame data-turbo-action="advance">
            <nav class="py-3">
                <ul class="nav nav-fill nav-underline">
                    <li class="nav-item"><a class="nav-link active"
                            href="/{player_id}/{act}/battle_logs?away_character_id=&amp;away_input_type_id=&amp;battle_type_id=&amp;home_character_id=&amp;home_input_type_id=&amp;played_from=&amp;played_to=&amp;">対戦</a>
                    </li>
                    <li class="nav-item"><a class="nav-link"
                            href="/{player_id}/{act}/winrate?away_character_id=&amp;away_input_type_id=&amp;battle_type_id=&amp;home_character_id=&amp;home_input_type_id=&amp;played_from=&amp;played_to=&amp;">キャラ別統計</a>
                    </li>
                    <li class="nav-item"><a class="nav-link"
                            href="/{player_id}/{act}/ranked_history?away_character_id=&amp;away_input_type_id=&amp;battle_type_id=&amp;home_character_id=&amp;home_input_type_id=&amp;played_from=&amp;played_to=&amp;">ランク統計</a>
                    </li>
                    <li class="nav-item"><a class="nav-link"
                            href="/{player_id}/{act}/battle_stats?away_character_id=&amp;away_input_type_id=&amp;battle_type_id=&amp;home_character_id=&amp;home_input_type_id=&amp;played_from=&amp;played_to=&amp;">戦績</a>
                </ul>
            </nav>

            <div class="card card-body mb-3">
                <form action="" accept-charset="UTF-8" method="get">
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <div class="form-floating">
                                <select class="form-select" name="home_character_id" id="home_character_id">
                                    <option value="">全て</option>
                                    <option value="リュウ">リュウ</option>
                                    <option value="ルーク">ルーク</option>
                                    <option value="キンバリー">キンバリー</option>
                                    <option value="春麗">春麗</option>
                                    <option value="マノン">マノン</option>
                                    <option value="ザンギエフ">ザンギエフ</option>
                                    <option value="JP">JP</option>
                                    <option value="ダルシム">ダルシム</option>
                                    <option value="キャミィ">キャミィ</option>
                                    <option value="ケン">ケン</option>
                                    <option value="ディージェイ">ディージェイ</option>
                                    <option value="リリー">リリー</option>
                                    <option value="A.K.I.">A.K.I.</option>
                                    <option value="ラシード">ラシード</option>
                                    <option value="ブランカ">ブランカ</option>
                                    <option value="ジュリ">ジュリ</option>
                                    <option value="マリーザ">マリーザ</option>
                                    <option value="ガイル">ガイル</option>
                                    <option value="ED">ED</option>
                                    <option value="エドモンド本田">エドモンド本田</option>
                                    <option value="ジェイミー">ジェイミー</option>
                                    <option value="豪鬼">豪鬼</option>
                                    <option value="サガット">サガット</option>
                                    <option value="ベガ">ベガ</option>
                                    <option value="テリー">テリー</option>
                                    <option value="舞">舞</option>
                                    <option value="エレナ">エレナ</option>
                                    <option value="C.ヴァイパー">C.ヴァイパー</option>
                                    <option value="アレックス">アレックス</option>
                                    <option value="ランダム">ランダム</option>
                                </select>
                                <label for="home_character_id">私のキャラクター</label>
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div class="form-floating">
                                <select class="form-select" name="home_input_type_id" id="home_input_type_id">
                                    <option value="">全て</option>
                                    <option value="C">C</option>
                                    <option value="M">M</option>
                                </select>
                                <label for="home_input_type_id">私の操作タイプ</label>
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div class="form-floating">
                                <select class="form-select" name="away_character_id" id="away_character_id">
                                    <option value="">全て</option>
                                    <option value="リュウ">リュウ</option>
                                    <option value="ルーク">ルーク</option>
                                    <option value="キンバリー">キンバリー</option>
                                    <option value="春麗">春麗</option>
                                    <option value="マノン">マノン</option>
                                    <option value="ザンギエフ">ザンギエフ</option>
                                    <option value="JP">JP</option>
                                    <option value="ダルシム">ダルシム</option>
                                    <option value="キャミィ">キャミィ</option>
                                    <option value="ケン">ケン</option>
                                    <option value="ディージェイ">ディージェイ</option>
                                    <option value="リリー">リリー</option>
                                    <option value="A.K.I.">A.K.I.</option>
                                    <option value="ラシード">ラシード</option>
                                    <option value="ブランカ">ブランカ</option>
                                    <option value="ジュリ">ジュリ</option>
                                    <option value="マリーザ">マリーザ</option>
                                    <option value="ガイル">ガイル</option>
                                    <option value="ED">ED</option>
                                    <option value="エドモンド本田">エドモンド本田</option>
                                    <option value="ジェイミー">ジェイミー</option>
                                    <option value="豪鬼">豪鬼</option>
                                    <option value="サガット">サガット</option>
                                    <option value="ベガ">ベガ</option>
                                    <option value="テリー">テリー</option>
                                    <option value="舞">舞</option>
                                    <option value="エレナ">エレナ</option>
                                    <option value="C.ヴァイパー">C.ヴァイパー</option>
                                    <option value="アレックス">アレックス</option>
                                    <option value="ランダム">ランダム</option>
                                </select>
                                <label for="away_character_id">対戦相手のキャラクター</label>
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div class="form-floating">
                                <select class="form-select" name="away_input_type_id" id="away_input_type_id">
                                    <option value="">全て</option>
                                    <option value="C">C</option>
                                    <option value="M">M</option>
                                </select>
                                <label for="away_input_type_id">対戦相手の操作タイプ</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <div class="form-floating">
                                <select class="form-select" name="battle_type_id" id="battle_type_id">
                                    <option value="">全て</option>
                                    <option value="RANKED MATCH">RANKED MATCH</option>
                                    <option value="CASUAL MATCH">CASUAL MATCH</option>
                                    <option value="BATTLE HUB">BATTLE HUB</option>
                                    <option value="CUSTOM ROOM">CUSTOM ROOM</option>
                                </select>
                                <label for="battle_type_id">ゲームモード</label>
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div class="form-floating">
                                <input class="form-control" value="" type="date" name="played_from" id="played_from" />
                                <label for="played_from">始日</label>
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <div class="form-floating">
                                <input class="form-control" value="" type="date" name="played_to" id="played_to" />
                                <label for="played_to">了日</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="submit" name="" value="検索" class="btn btn-primary w-100 mb-2"
                                data-disable-with="検索" />
                            <a data-turbo-prefetch="false" class="btn btn-secondary w-100 mb-2"
                                href="/{player_id}/{act}/battle_logs">リセット</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="table-responsive">
                <table border="1" id="table" class="table table-striped text-center text-nowrap">
                    <thead>
                        <th colspan="3">私</th>
                        <th>勝負</th>
                        <th colspan="3">相手</th>
                        <th>ゲームモード</th>
                        <th colspan="2">リプレイID</th>
                        <th>試合日</th>
                    </thead>

                    <tbody></tbody>

                </table>

            </div>

            <div id="overlay" class="overlay hidden"></div>
            <div id="battleModal" class="modal hidden">
                <style>
                    .overlay {
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;

                        background: rgba(0, 0, 0, 0.5);
                        /* 半透明の黒 */
                        z-index: 999;
                        /* モーダルより下 */
                    }

                    .modal {
                        position: fixed;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);

                        width: 90%;
                        /* スマホではほぼ全幅 */
                        max-width: 500px;
                        /* PCでは広がりすぎない */
                        height: auto;
                        /* 中身に合わせる */

                        background-color: rgb(255, 255, 255);

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        border-radius: 10px;
                        /* 見た目向上 */
                        z-index: 1000;
                    }

                    .hidden {
                        display: none;
                    }
                </style>
                <div class="modal-content">

                    <button onclick="closeModal()">&times;</button>
                    <div id="battleDetail"></div> <!-- ← これだけ残す -->
                </div>
            </div>
            <nav class="pagy-bootstrap series-nav" aria-label="Pages">
                <ul class="pagination" id="pagination"></ul>
            </nav>

            <script>

                async function load() {
                    console.log("load start");
                    const playerId = "{player_id}"; // プレイヤーID
                    const Act = "{act}"; // Act
                    const currentAct = Act;

                    // URLから現在のパラメータ取得
                    const urlParams = new URLSearchParams(window.location.search);

                    const page = parseInt(urlParams.get("page")) || 1;

                    // フォームの値（URL優先）
                    const home_character_id = urlParams.get("home_character_id") ?? document.getElementById("home_character_id").value;
                    const home_input_type_id = urlParams.get("home_input_type_id") ?? document.getElementById("home_input_type_id").value;
                    const away_character_id = urlParams.get("away_character_id") ?? document.getElementById("away_character_id").value;
                    const away_input_type_id = urlParams.get("away_input_type_id") ?? document.getElementById("away_input_type_id").value;
                    const battle_type_id = urlParams.get("battle_type_id") ?? document.getElementById("battle_type_id").value;
                    const played_from = urlParams.get("played_from") ?? document.getElementById("played_from").value;
                    const played_to = urlParams.get("played_to") ?? document.getElementById("played_to").value;

                    // URLに反映（ここ重要）
                    const params = new URLSearchParams({
                        page,
                        home_character_id,
                        home_input_type_id,
                        away_character_id,
                        away_input_type_id,
                        battle_type_id,
                        played_from,
                        played_to
                    });

                    history.pushState(null, "", "?" + params.toString());

                    // API取得
                    const res = await fetch(`/battle_logs/${playerId}/${Act}?` + params.toString());
                    const data = await res.json();

                    // フォームに値を戻す（UX向上）
                    document.getElementById("home_character_id").value = home_character_id || "";
                    document.getElementById("home_input_type_id").value = home_input_type_id || "";
                    document.getElementById("away_character_id").value = away_character_id || "";
                    document.getElementById("away_input_type_id").value = away_input_type_id || "";
                    document.getElementById("battle_type_id").value = battle_type_id || "";
                    document.getElementById("played_from").value = played_from || "";
                    document.getElementById("played_to").value = played_to || "";

                    const select = document.getElementById("act_select");

                    const acts = data.acts; // Actリスト

                    acts.forEach(act => {
                        const option = document.createElement("option");
                        option.value = act;
                        option.textContent = act;

                        if (String(act) === String(currentAct)) {
                            option.selected = true;
                        }

                        select.appendChild(option);
                    });

                    select.addEventListener("change", () => {
                        const selectedAct = select.value; // ←これを使う！

                        const params = new URLSearchParams(window.location.search);

                        window.location.href = `/${playerId}/${selectedAct}/battle_logs?` + params.toString();
                    });

                    // テーブル初期化
                    const tbody = document.querySelector("#table tbody");
                    tbody.innerHTML = "";

                    // プレイヤー名表示
                    const link = document.getElementById("player_link");
                    link.innerText = data.player_name + " (" + playerId + ")";
                    link.href = `https://www.streetfighter.com/6/buckler/ja-jp/profile/${playerId}`;

                    // 行生成
                    data.battle_logs.forEach(row => {
                        const tr = document.createElement("tr");

                        const result = row.win_or_lose ? "Win" : "Lose";

                        let my_name, my_type, my_character;
                        let opponent_name, opponent_type, opponent_character, opponent_player_id;

                        if (row.p1_player_id === playerId) {
                            my_name = row.p1_name;
                            my_type = row.p1_type;
                            my_character = row.p1_character;
                            opponent_name = row.p2_name;
                            opponent_type = row.p2_type;
                            opponent_character = row.p2_character;
                            opponent_player_id = row.p2_player_id;
                        } else {
                            my_name = row.p2_name;
                            my_type = row.p2_type;
                            my_character = row.p2_character;
                            opponent_name = row.p1_name;
                            opponent_type = row.p1_type;
                            opponent_character = row.p1_character;
                            opponent_player_id = row.p1_player_id;
                        }

                        tr.innerHTML = `
                                <td>${my_name}</td>
                                <td>${my_type}</td>
                                <td>${my_character}</td>
                                <td>${result}</td>
                                <td>
                                    <a href="https://www.streetfighter.com/6/buckler/profile/${opponent_player_id}" target="_blank">
                                        ${opponent_name}
                                    </a>
                                </td>
                                <td>${opponent_type}</td>
                                <td>${opponent_character}</td>
                                <td>${row.match}</td>
                                <td>
                                    <a href="#" onclick="openBattleDetail('${row.replay_id}'); return false;">
                                        ${row.replay_id}
                                    </a>
                                </td>
                                <td>
                                    <div style="display:flex; gap:10px;">
                                        <input type="hidden" value="${row.replay_id}" id="replay_${row.replay_id}">
                                        <button onclick="copyText('replay_${row.replay_id}')">copy</button>
                                    </div>
                                </td>
                                <td>${row.date}</td>
                            `;

                        tbody.appendChild(tr);
                    });

                    // ページネーション
                    const pagination = document.getElementById("pagination");
                    pagination.innerHTML = "";

                    const createLink = (p, text, active = false) => {
                        const li = document.createElement("li");
                        li.className = "page-item" + (active ? " active" : "");

                        const a = document.createElement("a");
                        a.className = "page-link";

                        const newParams = new URLSearchParams(params);
                        newParams.set("page", p);

                        a.href = "?" + newParams.toString();
                        a.innerText = text;

                        li.appendChild(a);
                        return li;
                    };

                    if (page > 1) pagination.appendChild(createLink(page - 1, "<"));

                    for (let i = Math.max(1, page - 2); i <= Math.min(data.total_pages, page + 2); i++) {
                        pagination.appendChild(createLink(i, i, i === page));
                    }

                    if (page < data.total_pages) pagination.appendChild(createLink(page + 1, ">"));
                }

                function copyText(id) {
                    const text = document.getElementById(id).value;
                    navigator.clipboard.writeText(text).then();
                }

                async function openBattleDetail(replayId) {
                    const playerId = "{player_id}";
                    const Act = "{act}";
                    const res = await fetch(`/battle_log/${playerId}/${Act}/${replayId}`);

                    if (!res.ok) {
                        console.error("API error");
                        return;
                    }

                    const data = await res.json();

                    const detail = document.getElementById("battleDetail");
                    const modal = document.getElementById("battleModal");
                    modal.style.display = "block";

                    if (!detail) {
                        console.error("battleDetail not found");
                        return;
                    }

                    detail.innerHTML = `
                            <div id="battle" class="battle">
            <div class="row border-bottom py-2 px-1">
                <div class="col text-start"> ${data.replay_id}</div>
                <div class="col text-center"> ${data.date}</div>
                <div class="col text-end"> ${data.match}</div>
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <div class="col-6 p1-side">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-10 text-center challenger-data">
                            <small class="d-flex justify-content-center gap-3">
                                <span> ${data.p1_master_rating} MR</span>
                                <span> ${data.p1_league_point} LP</span>
                            </small>
                            <div class="text-truncate fs-2">
                                <a data-turbo-frame="_top" href="https://www.streetfighter.com/6/buckler/ja-jp/profile/${data.p1_player_id}"> ${data.p1_name}</a>
                            </div>
                            <small>
                                ${data.p1_character}
                                ${data.p1_type}
                            </small>
                        </div>
                    </div>

                </div>
                <div class="fs-1">X</div>
                <div class="col-6 p2-side">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-10 text-center challenger-data">
                            <small class="d-flex justify-content-center gap-3">
                                <span> ${data.p2_master_rating} MR</span>
                                <span> ${data.p2_league_point} LP</span>
                            </small>
                            <div class="text-truncate fs-2">
                                <a data-turbo-frame="_top" href="https://www.streetfighter.com/6/buckler/ja-jp/profile/${data.p2_player_id}"> ${data.p2_name}</a>
                            </div>
                            <small>
                                ${data.p2_character}
                                ${data.p2_type}
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                    `;

                    document.getElementById("battleModal").classList.remove("hidden");
                    document.getElementById("overlay").classList.remove("hidden");
                }

                function closeModal() {
                    const modal = document.getElementById("battleModal");
                    document.getElementById("battleModal").classList.add("hidden");
                    document.getElementById("overlay").classList.add("hidden");
                    modal.classList.add("hidden");
                    modal.style.display = "";
                }

                load(); // 初回実行

            </script>

        </turbo-frame>
    </main>

</body>

</html>