<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>SF6 Records</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" href="/static/favicon.ico">
</head>

<body style="background-color:#ffffff;">

    <h1 style="text-align:center; font-size:40px; font-weight:bold; margin:20px;">
        SF6 Records
    </h1>

    <div style="text-align:center">

        <input id="player_id" type="text" style="width:400px" placeholder="Player ID">

        <button onclick="search()">検索</button>

    </div>

    <script>

        function search() {

            const id = document.getElementById("player_id").value;

            window.location.href = "/" + id;

        }

    </script>

</body>

</html>