<!DOCTYPE html>
<html>
<body>

<head>
    <title>SF6 Records</title>
    <link rel="icon" href="/static/favicon.ico">
</head>

<h1>SF6 Records</h1>

<button onclick="load()">Load</button>

<ul id="list"></ul>

<script>
async function load() {

    const res = await fetch("/battle_logs");
    const data = await res.json();

    const list = document.getElementById("list");
    list.innerHTML = "";

    data.forEach(row => {
        const li = document.createElement("li");
        li.innerText = row;
        list.appendChild(li);
    });
}
</script>

</body>
</html>