<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>SF6 Records</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" href="/static/favicon.ico">
</head>

<body style="background-color:#ffffff;">

    <h1>Player {player_id}</h1>

    <ul id="list"></ul>

    <script>

        async function load() {

            const playerId = "{player_id}";

            const res = await fetch(`/battle_logs/${playerId}`);

            const data = await res.json();

            const list = document.getElementById("list");

            list.innerHTML = "";

            data.forEach(row => {

                const li = document.createElement("li");

                li.innerText =
                    row[1] + " | " +
                    row[5] + " | " +
                    row[8] + " | " +
                    row[9];

                list.appendChild(li);

            });

        }

        load();

    </script>

</body>

</html>